* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}


#header-nav ul {
    background-color: white;
}


.col-xs-12 {
    float: left;
    position: relative;
}


#navb li a {
    text-align: center;
    border-bottom: 1px solid black;
}

#header-nav button {
    margin-top: 10px; 
    margin-bottom: 10px;
    border-color: black;
}

#header-nav button span {
    background-color: black;
}


#header-nav {
    background-color: gray;
}

#header-nav h4 {
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}


#header-nav .navbar-brand {
    padding-top: 5px;
}

#header-nav div li>a {
    color: black
}


 

.p131 {
    background-color: grey;
    padding: 40px;
    padding-top: 50px;
    padding-bottom: 0px;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-size: 140%;
}

 div>p.h3 {
    position: absolute;
    top: 0px;
    width: 100%;
    left: auto;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    color: black;
    font-size: 200%;
    font-weight: bold;

}

 div>.h4 {
    position: absolute;
    top: 0px;
    width: 100%;
    left: auto;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    color: black;
    font-size: 200%;
    font-weight: bold;
}

div>.h5 {
    position: absolute;
    top: 0px;
    width: 100%;
    left: auto;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    color: black;
    font-size: 200%;
    font-weight: bold;
}

