* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}


@media (min-width: 992px) {
    .col-lg-3 {
    float: left;
    position: relative;
    }
    
    .col-lg-3 {
    width: 33.3%;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-5 {
    float: left;
    position: relative;
    }

    .col-md-6 {
    width: 50%;
    }

    .col-md-5 {
    width: 100%;
    }
}
@media (max-width: 767px) {
    .col-lg-3 {
    float: left;
    position: relative;
    }
    
    .col-lg-3 {
    width: 100%;
    }
}    

.p131 {
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    padding: 40px;
    padding-bottom: 0px;
    border: 1px solid black;
    text-align: center;
}

 div > .h3 {
    background-color: darkblue;
    position: absolute;
    top: 0px;
    left: 65%;
    border: 1px solid black;
    border-top: 0px;
    width: 30%;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 17px;
    color: azure;

}

 div > .h4 {
    background-color: red;
    position: absolute;
    top: 0px;
    left: 65%;
    border: 1px solid black;
    border-top: 0px;
    width: 30%;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 17px;
}

div > .h5 {
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 65%;
    border: 1px solid black;
    border-top: 0px;
    width: 30%;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin-top: 17px;
}

